.our-friends {
  min-height: calc(100vh - 120px - 350px);
  background-color: var(--color-light-l);
}

.our-friends__wrapper {
  display: block;
}

.our-friends__heading {
  text-align: center;

  margin-bottom: 59px;
}

.our-friends__cards {
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 30px;

  margin-bottom: 60px;

  overflow: hidden;
}

.our-friends__buttons {
  display: grid;
  grid-template-columns: repeat(5, minmax(52px, 62px));
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.our-friends__page-number {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 52px;
  height: 52px;

  border-radius: 50%;
  background-color: var(--color-primary);
}

.our-friends__button,
.our-friends__page-number {
  justify-self: center;
}

@media screen and (max-width: 960px) {
  .our-friends__wrapper {
    padding: 80px 30px 77px;
  }

  .our-friends__heading {
    margin-bottom: 30px;
  }

  .our-friends__cards {
    max-height: 1365px;
    margin-bottom: 39px;
  }
}

@media screen and (max-width: 480px) {
  .our-friends__wrapper {
    padding: 42px 10px;
  }

  .our-friends__heading {
    margin-bottom: 42px;
  }
  .our-friends__cards {
    margin-bottom: 41px;
  }
}
